# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ledger
POSTGRES_PORT=5434
POSTGRES_HOST_PORT=5434

# Application Configuration
PORT=8080
ENV=development
